.zbirke-fade-bottom {
  opacity: 0;
  will-change: opacity;
  transition: opacity 350ms ease-out 0ms;

  > div {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    transition: opacity 0.2s, transform 0.35s;
  }
}

.zbirke__section-3.aos-animate {
  .zbirke-fade-bottom {
    opacity: 1;

    > div {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: opacity 0.4s, transform 0.35s;
      transition-delay: 0s, 0s;
    }
  }

  .box-1 {
    overflow: hidden;
  }
  .box-1 img {
    width: calc(100% + 50px);
    max-width: calc(100% + 50px);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-40px, 0, 0);
  }

  .box-1 a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.4s;
  }

  .box-1:hover a::before {
    opacity: 0.3;
    transition: opacity 0.5s;
  }

  .box-1:hover img {
    transform: translate3d(0, 0, 0);
    transition: opacity 0.35s, transform 0.35s;
  }
}
