.header-1 {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.5px;
    line-height: 29.25px;
    text-transform: uppercase;
    color: #ff4030;
}
.header-2 {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.5px;
    line-height: 29.25px;
    text-transform: uppercase;
    color: #ff4030;
}
.header-4 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.36000001430511475px;
    line-height: 20px;
    text-transform: none;
    color: #505656;
}
.header-4 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.36000001430511475px;
    line-height: 20px;
    text-transform: none;
    color: #505656;
}
.content-1 {
    font-family: Lato, arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 29.450000762939453px;
    text-transform: none;
    color: #7a7a7a;
}
.content-2 {
    font-family: Lato, arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 29.450000762939453px;
    text-transform: none;
    color: #7a7a7a;
}
