$hero-bottom: #909090;
// $article-width: 348px;
$banner-height: 500px;
$banner-height-small: 400px;
$post-max-width: 348px;

$header-1: #373a3c;
// $header-1: #373a3c;
$content-1: #666666;
$footer-1: #d4d2d2;

$color-1: #393939;
$color-2: #525252;
$color-3: #fff;
$color-4: #cfcfcf;
$color-5: #f8f8f8;
$color-6: #d4d2d2;

$odjeli-menu-back: #d1d2d4;

$primary-back: #0661a6;
$primary-back-lighter-05: lighten($primary-back, 5%);
$primary-back-lighter-10: lighten($primary-back, 10%);

$secondary-back: #efefef;

$background-3: #5f686f;
$background-4: #cacaca;
$background-5: #58646d;

$nav-height: 100px;
$nav-back: rgba(255, 255, 255, 0.95);
$nav-transation-fnc: all 300ms ease-out 0ms;
