// @import './w3';
@import './bootstrap-reboot';
// @import './utility';
@import './variables';
@import './mixin';
@import './font';
@import './freamwork/freamwork';

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 24px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $color-1;
@import './hamburgers/_hamburgers.scss';

@import './layout/navbar';
@import './layout/hero';
@import './layout/footer';
@import './layout/media';

@import './home/section-1';
@import './home/section-2';
@import './home/section-3';
@import './home/section-4';
@import './home/section-5';

// Odjeli
@import './odjeli/section-6';
@import './odjeli/section-7';
@import './odjeli/media';

// Debug
// @import './debug';

@import './global';
@import './buttons';

// Media
@import './home/media';
