/******************************************************************
 * Display blok
 ******************************************************************/

.d-blok {
    display: block;
}

.d-inl-blok {
    display: inline-block;
}

/******************************************************************
 * Display grid
 ******************************************************************/

.d-grid {
    display: grid;
}

.gap-xs-20-x-l40 {
    grid-gap: 20px;
}

/******************************************************************
 * Display flex
 ******************************************************************/

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.d-row {
    flex-direction: row;
}

.d-column {
    flex-direction: column;
}

.d-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/******************************************************************
 * Media min-width: 576px
 ******************************************************************/
@media (min-width: 576px) {
}

/******************************************************************
 * Media min-width: 768px
 ******************************************************************/
@media (min-width: 768px) {
}

/******************************************************************
 * Media min-width: 992px
 ******************************************************************/
@media (min-width: 992px) {
}

/******************************************************************
 * Media min-width: 1200px
 ******************************************************************/
@media (min-width: 1200px) {
    .gap-xs-20-x-l40 {
        grid-gap: 40px;
    }
}
