/******************************************************************
 * Display
 ******************************************************************/

$color-1: #000 !default;

.dropdown {
  display: inline-block;
  margin-bottom: 3px;
  // margin-top: 3px;
  margin-left: 4px;
  height: 7px;
  width: 7px;
  border-left: 2px solid $color-1;
  border-bottom: 2px solid $color-1;
  transform: rotate(-45deg);
}
