/******************************************************************
 * Fonts weight
 ******************************************************************/
.f-w-300 {
    font-weight: 300;
}
.f-w-400 {
    font-weight: 400;
}

/******************************************************************
 * Fonts size
 ******************************************************************/
.f-xs-14 {
    font-size: 14px;
}
.f-xs-16 {
    font-size: 16px;
}
.f-xs-18 {
    font-size: 18px;
}
.f-xs-20 {
    font-size: 20px;
}
.f-xs-22 {
    font-size: 22px;
}
.f-xs-24 {
    font-size: 24px;
}
.f-xs-26 {
    font-size: 26px;
}
.f-xs-28 {
    font-size: 28px;
}
.f-xs-30 {
    font-size: 30px;
}
.f-xs-32 {
    font-size: 32px;
}
.f-xs-34 {
    font-size: 34px;
}
.f-xs-36 {
    font-size: 36px;
}
.f-xs-38 {
    font-size: 38px;
}
.f-xs-40 {
    font-size: 40px;
}
.f-xs-42 {
    font-size: 42px;
}
.f-xs-44 {
    font-size: 44px;
}

/******************************************************************
 * Media min-width: 576px
 ******************************************************************/
@media (min-width: 576px) {
    .f-s-14 {
        font-size: 14px;
    }
    .f-s-16 {
        font-size: 16px;
    }
    .f-s-18 {
        font-size: 18px;
    }
    .f-s-20 {
        font-size: 20px;
    }
    .f-s-22 {
        font-size: 22px;
    }
    .f-s-24 {
        font-size: 24px;
    }
    .f-s-26 {
        font-size: 26px;
    }
    .f-s-28 {
        font-size: 28px;
    }
    .f-s-30 {
        font-size: 30px;
    }
    .f-s-32 {
        font-size: 32px;
    }
    .f-s-34 {
        font-size: 34px;
    }
    .f-s-36 {
        font-size: 36px;
    }
    .f-s-38 {
        font-size: 38px;
    }
    .f-s-40 {
        font-size: 40px;
    }
    .f-s-42 {
        font-size: 42px;
    }
    .f-s-44 {
        font-size: 44px;
    }
}

/******************************************************************
 * Media min-width: 768px
 ******************************************************************/
@media (min-width: 768px) {
    .f-m-14 {
        font-size: 14px;
    }
    .f-m-16 {
        font-size: 16px;
    }
    .f-m-18 {
        font-size: 18px;
    }
    .f-m-20 {
        font-size: 20px;
    }
    .f-m-22 {
        font-size: 22px;
    }
    .f-m-24 {
        font-size: 24px;
    }
    .f-m-26 {
        font-size: 26px;
    }
    .f-m-28 {
        font-size: 28px;
    }
    .f-m-30 {
        font-size: 30px;
    }
    .f-m-32 {
        font-size: 32px;
    }
    .f-m-34 {
        font-size: 34px;
    }
    .f-m-36 {
        font-size: 36px;
    }
    .f-m-38 {
        font-size: 38px;
    }
    .f-m-40 {
        font-size: 40px;
    }
    .f-m-42 {
        font-size: 42px;
    }
    .f-m-44 {
        font-size: 44px;
    }
}

/******************************************************************
 * Media min-width: 992px
 ******************************************************************/
@media (min-width: 992px) {
    .f-l-14 {
        font-size: 14px;
    }
    .f-l-16 {
        font-size: 16px;
    }
    .f-l-18 {
        font-size: 18px;
    }
    .f-l-20 {
        font-size: 20px;
    }
    .f-l-22 {
        font-size: 22px;
    }
    .f-l-24 {
        font-size: 24px;
    }
    .f-l-26 {
        font-size: 26px;
    }
    .f-l-28 {
        font-size: 28px;
    }
    .f-l-30 {
        font-size: 30px;
    }
    .f-l-32 {
        font-size: 32px;
    }
    .f-l-34 {
        font-size: 34px;
    }
    .f-l-36 {
        font-size: 36px;
    }
    .f-l-38 {
        font-size: 38px;
    }
    .f-l-40 {
        font-size: 40px;
    }
    .f-l-42 {
        font-size: 42px;
    }
    .f-l-44 {
        font-size: 44px;
    }
}

/******************************************************************
 * Media min-width: 1200px
 ******************************************************************/
@media (min-width: 1200px) {
    .f-xl-14 {
        font-size: 14px;
    }
    .f-xl-16 {
        font-size: 16px;
    }
    .f-xl-18 {
        font-size: 18px;
    }
    .f-xl-20 {
        font-size: 20px;
    }
    .f-xl-22 {
        font-size: 22px;
    }
    .f-xl-24 {
        font-size: 24px;
    }
    .f-xl-26 {
        font-size: 26px;
    }
    .f-xl-28 {
        font-size: 28px;
    }
    .f-xl-30 {
        font-size: 30px;
    }
    .f-xl-32 {
        font-size: 32px;
    }
    .f-xl-34 {
        font-size: 34px;
    }
    .f-xl-36 {
        font-size: 36px;
    }
    .f-xl-38 {
        font-size: 38px;
    }
    .f-xl-40 {
        font-size: 40px;
    }
    .f-xl-42 {
        font-size: 42px;
    }
    .f-xl-44 {
        font-size: 44px;
    }
}
