/*
 * FadeIn transition
 */

.fadeInOut {
    transition-duration: 0, 2000ms;
    transition-property: visibility, opacity;
    transition-delay: 0;

    &.hidden {
        visibility: hidden;
        opacity: 0;
        transition-duration: 2000ms, 0;
        transition-property: top, visibility;
        transition-delay: 0, 2000ms;
    }
}

.fadeInBottomTrans {
    transition-duration: 2000ms, 2000ms;
    transition-property: top, opacity;
    transition-delay: 0;
    &.hidden {
        top: 100px;
        // opacity: 0;
        transition-duration: 2000ms, 2000ms;
        transition-property: transform, opacity;
        transition-delay: 0;
    }
}

// .fadeInOut {
//     .transition-duration(0, 200ms);
//     .transition-property(visibility, opacity);
//     .transition-delay(0);

//     &.hidden {
//         visibility: hidden;
//         .opacity(0);
//         .transition-duration(200ms, 0);
//         .transition-property(opacity, visibility);
//         .transition-delay(0, 200ms);
//     }
// }

/*
 * Scale transition
 */

.scale {
    transition-delay: 0;
    transition-duration: 0, 200ms;
    transition-property: height, width;
    transition-timing-function: ease-in-out;
    &.shrink {
        transition-delay: 0;
        transition-duration: 200ms, 0;
        transition-property: height, width;
        transition-timing-function: ease-in-out;
        transform: scale(0.8);
    }
}
