.section-5 {
  overflow: hidden;
  .float-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: $primary-back;
  }

  .btn:hover {
    color: #fff !important;
  }
}
