.zbirke-detalji {
  &__section-1 {
    .header-2 {
      text-align: center;
    }
    .d-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      .item-1 {
        grid-row: 2;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        img {
          width: 60%;
        }
      }
    }
  }
  &__section-3 {
    img {
      cursor: pointer;
    }
    .d-grid {
      grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
      justify-items: center;
    }
  }
}
