.detalji-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .header-2 {
    text-align: center;
  }

  .item-1 {
    grid-row: 2;
    padding: 20px 0;
    width: 100%;
    text-align: center;

    img {
      width: 60%;
    }
  }
}
