// @media (min-width: 576px) {
// }

@media (min-width: 768px) {
  .zbirke-detalji {
    &__section-1 {
      .header-2 {
        text-align: left;
      }
      .d-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px;
        .item-1 {
          grid-row: 1;
          padding: 0;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        .item-2 {
          grid-column: 2 / span 2;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .zbirke-detalji {
    &__section-1 {
      .d-grid {
        grid-template-rows: 400px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .zbirke-detalji {
    &__section-1 {
      .d-grid {
        grid-template-rows: 500px;
      }
    }
  }
}
