.hero {
    position: relative;
    border-top: 4px solid $primary-back;
    border-bottom: 4px solid $hero-bottom;

    .header-hero {
        // @extend .header-1-light;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        margin-bottom: 34px;
        text-align: center;
        font-size: 70px;
        font-weight: 600;
        color: $color-5;
        line-height: 1;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
}
