@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .navbar {
    .hamburger {
      display: none;
    }
    .menu {
      display: flex;
      transform: translate(-50% -50);
    }
  }
  footer {
    .container {
      grid-gap: 0;
    }
    .item-2 {
      justify-content: flex-end;
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    font-size: 21px;
    .language {
      font-size: 18px;
    }
    .menu > li {
      margin-right: 22px;
    }
    .menu > li:last-of-type {
      margin-right: 0px;
    }
  }
}
