@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .navbar {
    .hamburger {
      display: none;
    }
    .menu {
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    font-size: 21px;
    .language {
      font-size: 18px;
    }
    .menu > li {
      margin-right: 22px;
    }
  }
}
