/*
  Reset
 */

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: $nav-back;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
  }
  input[type='radio'] {
    display: none;
  }
  label {
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: $nav-height;
  transition: height 0.3s ease-out 0s;

  .language {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
    color: #b9b9b9;

    transition-delay: 200ms;
    transition-duration: 0, 500ms;
    transition-property: visibility, opacity;
    transition-timing-function: ease-out;

    > div {
      display: inline-block;
      cursor: pointer;
    }

    > div:hover {
      color: #3d3d3d;
    }

    .active {
      color: #3d3d3d;
    }
  }

  .hamburger {
    align-self: flex-end;
    margin-bottom: 22px;
    cursor: pointer;
  }

  .logo {
    img {
      cursor: pointer;
      transition: transform 300ms ease-out;
      transform-origin: 0% 50%;
    }
  }

  /*
    Dropdown arrow
  */

  .dropdown-large {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-left: 2px solid $color-1;
    border-bottom: 2px solid $color-1;
    transform: rotate(-45deg);
  }

  .dropdown-large {
    display: none;
  }

  .dropdown-small {
    height: 100%;
    // background: lightcoral;
    position: relative;
  }

  .dropdown-small::after {
    position: absolute;
    content: '';
    border-color: #fff;
    height: 7px;
    width: 7px;
    top: 50%;
    left: 50%;
    border-left: 2px solid $color-3;
    border-bottom: 2px solid $color-3;
    transform-origin: 50% 0%;
    transform: rotate(45deg) translate(-50%, -50%);
    transition: transform 250ms ease-out;
  }

  .dropdown-small.open::after {
    transform: rotate(-45deg) translate(-50%, -50%);
  }

  .hamburger.is-active + .menu {
    max-height: 800px;
    transition-property: max-height;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: 0px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: $primary-back;

    // height: auto;
    max-height: 0;
    overflow: hidden;

    > li {
      display: grid;
      grid-template-columns: 75% 25%;

      padding: 0;
      margin: 0;
      position: relative;
      color: $color-3;
      cursor: pointer;

      > a {
        display: block;
        padding: 10px 30px;
        width: 100%;
      }

      > a.active {
        background: $primary-back-lighter-10;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border-bottom: 1px solid $color-4;
          border: none;
        }
      }

      &::before {
        position: absolute;
        content: '';
        top: 46px;
        left: 50%;
        height: 1px;
        width: 100%;
        opacity: 0;
        z-index: 20;
        background: $color-4;
        transform: translate(-50%, 0) scaleX(0);
        transition: $nav-transation-fnc;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        height: 1px;
        z-index: 1;
        width: 100%;
        opacity: 0;
        background: $color-4;
        transform: translate(-50%, 0) scaleX(0);
        transition: $nav-transation-fnc;
      }

      &:hover:not(.active):after {
        transform: translate(-50%, 0) scaleX(1);
        opacity: 1;
      }
      &:hover:not(.active):before {
        transform: translate(-50%, 0) scaleX(1);
        opacity: 1;
      }
      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }

  // .menu > li:hover .submenu,
  // .menu > li:active .submenu {
  //   max-height: 250px;
  //   li {
  //     // opacity: 1;
  //     animation: in 0.15s 0.95s forwards;
  //     transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  //   }
  // }

  // .menu.submenu-0 .submenu-0 {
  //   max-height: 250px;
  //   li {
  //     animation: in 0.15s 0.95s forwards;
  //     transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  //   }
  // }
  // .menu.submenu-1 .submenu-1 {
  //   max-height: 250px;
  //   li {
  //     animation: in 0.15s 0.95s forwards;
  //     transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  //   }
  // }

  /*
    Submenu
  */

  .dropdown-small.open + .submenu {
    max-height: 250px;
    li {
      animation: in 0.15s 0.95s forwards;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  .submenu {
    position: relative;
    grid-column: span 2;
    z-index: 1;
    top: 0%;
    width: 100%;
    background: $primary-back-darken-10;

    transition-property: max-height;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    max-height: 0;
    overflow: hidden;

    li {
      list-style: none;
      color: #fff;
      padding: 5px 15px;
      opacity: 0;
      left: -100%;
      margin: 0;
      position: relative;

      a {
        padding: 5px 30px;
      }

      &:first-of-type {
        margin-top: 10px;
      }
      &:last-of-type {
        margin-bottom: 10px;
      }

      &:hover {
        background: $primary-back-lighter-10;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    .menu > li:hover .submenu,
    .menu > li:active .submenu {
      max-height: 250px;
      li {
        // opacity: 1;
        animation: in 0.15s 0.95s forwards;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

    .menu {
      align-self: flex-end;
      flex-direction: row;
      background: none;
      position: initial;

      // height: auto;
      max-height: 100px;
      overflow: visible;

      .dropdown-large {
        display: inline-block;
        border-color: initial;
        position: initial;
        margin-bottom: 3px;
        margin-top: 3px;
        margin-left: 4px;
      }

      .dropdown-small {
        display: none;
      }

      > li {
        display: initial;

        position: relative;
        margin-right: 14px;
        padding: 0 0 20px 0px;
        color: $header-1;

        > a {
          display: initial;
          padding: 0;
          width: initial;
        }

        a.active {
          background: none;

          &::before {
            border-bottom: 10px solid $color-4;
          }
        }

        &::after {
          z-index: 1;
          height: 10px;
        }

        &::before {
          position: absolute;
          content: none;
          top: 46px;
          left: 50%;
          height: 1px;
          width: 100%;
          opacity: 0;
          background: $color-4;
          transform: translate(-50%, 0) scaleX(0);
          transition: $nav-transation-fnc;
        }

        &:hover:not(.active):before {
          transform: translate(-50%, 0) scaleX(1);
          opacity: 1;
        }
        &:last-of-type {
          margin-bottom: 0px;
          margin-right: 0px;
        }
      }
    }

    .submenu.open {
      max-height: 0;
      li {
        animation: initial;
        transition-timing-function: initial;
      }
    }

    .submenu {
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: max-content;
      background: $primary-back;

      li {
        a {
          padding: 0;
        }
      }
      li:first-of-type {
        margin-top: 0px;
      }

      li:hover {
        background: $primary-back-lighter-10;
      }
    }

    // .menu > li:hover .submenu.submenu-1,
    // .menu > li:active .submenu.submenu-1 {
    //   height: 250px;
    // }

    // .menu > li:hover .submenu.submenu-2,
    // .menu > li:active .submenu.submenu-2 {
    //   height: 130px;
    // }
  }
}

/*
 * Navbar animation
 */

.navbar-shrink {
  height: 70px;
  .language {
    visibility: hidden;
    opacity: 0;

    transition-delay: 0;
    transition-duration: 200ms, 0;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    // display: none;
  }
  .logo {
    img {
      // width: 60%;
      // transition-delay: 0ms;
      // transition-duration: 500ms, 0ms;
      // transition-property: height, width;
      transform: scale(0.7);
    }
  }
  .hamburger {
    margin-bottom: 18px;
  }
}

@keyframes in {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes menu-animation {
  from {
    opacity: 0;
    transform: rotateX(-180deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
