.section-7 {
    > div {
        transition-duration: 300ms, 350ms;
        transition-property: opacity, transform;
        will-change: opacity, transform;
        transition-timing-function: ease-out;
    }
    &.hide > div {
        opacity: 0;
        transform: translateY(20px);
    }
}
