@media (min-width: 992px) {
  .navbar {
    .hamburger {
      display: none;
    }

    .menu > li:hover .submenu,
    .menu > li:active .submenu {
      max-height: 250px;

      li {
        // opacity: 1;
        animation: in 0.15s 0.95s forwards;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

    .menu {
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      background: none;
      position: initial;

      max-height: 100px;
      overflow: visible;

      .dropdown-large {
        display: inline-block;
        border-color: initial;
        position: initial;
        margin-bottom: 3px;
        margin-top: 3px;
        margin-left: 4px;
      }

      .dropdown-small {
        display: none;
      }

      > li {
        display: initial;

        position: relative;
        margin-right: 14px;
        padding: 0 0 20px 0px;
        color: $header-1;

        > a {
          display: initial;
          padding: 0;
          width: initial;
        }

        a.active {
          background: none;

          &::before {
            border-bottom: 10px solid $color-4;
          }
        }

        &::after {
          z-index: 1;
          height: 10px;
        }

        &::before {
          position: absolute;
          content: none;
          top: 46px;
          left: 50%;
          height: 1px;
          width: 100%;
          opacity: 0;
          background: $color-4;
          transform: translate(-50%, 0) scaleX(0);
          transition: $nav-transation-fnc;
        }

        &:hover:not(.active):before {
          transform: translate(-50%, 0) scaleX(1);
          opacity: 1;
        }
        &:last-of-type {
          margin-bottom: 0px;
          margin-right: 0px;
        }
      }
    }

    .submenu.open {
      max-height: 0;
      li {
        animation: initial;
        transition-timing-function: initial;
      }
    }

    .submenu {
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: max-content;
      background: $primary-back;

      li {
        a {
          padding: 0;
        }
      }
      li:first-of-type {
        margin-top: 0px;
      }

      li:hover {
        background: $primary-back-lighter-10;
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    font-size: 21px;
    .language {
      font-size: 18px;
    }
    .menu > li {
      margin-right: 22px;
    }
    .menu > li:last-of-type {
      margin-right: 0px;
    }
  }
}
