.section-6 {
    // background: #f99;

    display: grid;
    grid-template-columns: 1fr;
    // grid-gap: 20px;
    text-align: center;

    & > .menu-item:first-child {
        display: flex;
    }

    .menu-item {
        padding: 10px;
        height: 140px;
        display: none;
        // display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        // align-content: center;
        background: $odjeli-menu-back;
        transition: $nav-transation-fnc;
    }

    .menu-item:hover {
        color: $color-5;
        background: $primary-back;
        transform: scale(1.04);
        // box-shadow: 0 4px -10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.6);
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.43);
    }

    .active {
        color: $color-5;
        background: $primary-back;
    }

    .header-3 {
        line-height: 1.2;
    }
}
