.izdanja-page {
  .izdanja-item {
    display: grid;
    // grid-template-columns: 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    background: #efefef;

    .header-3 {
      color: #005da4;
      font-style: italic;
    }

    .item-1 {
      grid-row: 2;
      padding: 20px 20px;
    }

    .item-2 {
      text-align: center;
      background: #9c9c9c;
      img {
        height: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .izdanja-page {
    .izdanja-item {
      grid-template-columns: 2fr 1fr;

      .item-1 {
        grid-row: 1;
        padding: 40px 80px;
      }
    }
  }
}
